<div class="consultant-wrapper">
  <div class="consultant">
    <div class="consultant-img">
      <img
        src="../../../assets/images/leseverstehen.jpg"
        alt=""
        class="consultant-photo"
      />
    </div>
    <div class="consultant-basic-info">
      <ul>
        <li>Markus Müller</li>

        <li>28 Jahre alt</li>
        <li>Mainz</li>
      </ul>
    </div>
    <br />
    <div class="consultant-skills">
      <ul>
        <li>Frontender</li>
        <li>Angular</li>
        <li>+3 Erfahrung</li>
      </ul>
    </div>
  </div>
</div>
